<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @master_service.service %>
</p>

<%= link_to 'Edit', edit_master_service_path(@master_service) %> |
<%= link_to 'Back', master_services_path %>
