
<div class="card w-100 bg-light mb-3 facilities">
  <div class="row ">
    <div class="col-xl-2 center-div">
      <i class="fa fa-building fa-2x"></i>
    </div>
    <div class="col-xl-2 center-div">
      <i class="fa fa-cutlery fa-2x"></i>
    </div>
    <div class="col-xl-2 center-div">
      <i class="fa fa-wifi fa-2x"></i>
    </div>
    <div class="col-xl-2 center-div">
      <i class="fa fa-tv fa-2x"></i>
    </div>
    <div class="col-xl-2 center-div">
       <i class="fa fa-car fa-2x"></i>
    </div>
    <div class="col-xl-2 center-div">
       <i class="fa fa-snowflake-o fa-2x"></i>
    </div>
  </div>
</div>
<div class="card w-100 bg-light mb-3 details">
  <div class="row center-content">
    <div class="col-sm">
      City View
    </div>
    <div class="col-sm">
      BBQ Facilities
    </div>
    <div class="col-sm">
      Free Wifi
    </div>
    <div class="col-sm">
      Tv
    </div>
    <div class="col-sm">
      Free Parking
    </div>
    <div class="col-sm">
      Air Conditioning
    </div>
  </div>
</div>
